<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />

  <!-- Language-specific Meta Tags -->
  <% if (typeof lang !== 'undefined' && lang === 'en') { %>
  <title>CoDi® Guide - Instant Digital Payments | Salsa Candela</title>
  <meta
    name="description"
    content="Learn how to use CoDi® step by step. Complete guide for instant, secure digital payments with no fees from your phone."
  />
  <% } else { %>
  <title>Guía CoDi® - Pagos Digitales Instantáneos | Salsa Candela</title>
  <meta
    name="description"
    content="Aprende a usar CoDi® paso a paso. Guía completa para pagos digitales instantáneos, seguros y sin comisiones desde tu celular."
  />
  <% } %>
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- Hreflang Tags for SEO -->
  <link rel="alternate" hreflang="es" href="https://salsa-candela.com/guia-codi" />
  <link rel="alternate" hreflang="en" href="https://salsa-candela.com/en/codi-guide" />
  <link rel="alternate" hreflang="x-default" href="https://salsa-candela.com/guia-codi" />

  <!-- Favicon Configuration -->
  <link rel="icon" type="image/png" href="/my-favicon/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="/my-favicon/favicon.svg" />
  <link rel="shortcut icon" href="/my-favicon/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="/my-favicon/apple-touch-icon.png" />
  <link rel="manifest" href="/my-favicon/site.webmanifest" />

  <!-- Basic Meta Tags -->
  <meta name="apple-mobile-web-app-title" content="Salsa Candela" />

  <!-- Open Graph Meta Tags (Facebook, WhatsApp, LinkedIn) -->
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="Salsa Candela" />
  <% if (typeof lang !== 'undefined' && lang === 'en') { %>
  <meta property="og:title" content="CoDi® Guide - Instant Digital Payments | Salsa Candela" />
  <meta property="og:description" content="Learn how to use CoDi® step by step. Complete guide for instant, secure digital payments with no fees from your phone." />
  <meta property="og:url" content="https://salsa-candela.com/en/codi-guide" />
  <meta property="og:locale" content="en_US" />
  <% } else { %>
  <meta property="og:title" content="Guía CoDi® - Pagos Digitales Instantáneos | Salsa Candela" />
  <meta property="og:description" content="Aprende a usar CoDi® paso a paso. Guía completa para pagos digitales instantáneos, seguros y sin comisiones desde tu celular." />
  <meta property="og:url" content="https://salsa-candela.com/guia-codi" />
  <meta property="og:locale" content="es_MX" />
  <% } %>
  <meta property="og:image" content="https://salsa-candela.com/my-favicon/web-app-manifest-512x512.png" />
  <meta property="og:image:type" content="image/png" />
  <meta property="og:image:width" content="512" />
  <meta property="og:image:height" content="512" />
  <meta property="og:image:alt" content="Logo de Salsa Candela Academia de Baile" />

  <!-- Twitter Card Meta Tags -->
  <meta name="twitter:card" content="summary_large_image" />
  <% if (typeof lang !== 'undefined' && lang === 'en') { %>
  <meta name="twitter:title" content="CoDi® Guide - Instant Digital Payments | Salsa Candela" />
  <meta name="twitter:description" content="Learn how to use CoDi® step by step. Complete guide for instant, secure digital payments with no fees from your phone." />
  <% } else { %>
  <meta name="twitter:title" content="Guía CoDi® - Pagos Digitales Instantáneos | Salsa Candela" />
  <meta name="twitter:description" content="Aprende a usar CoDi® paso a paso. Guía completa para pagos digitales instantáneos, seguros y sin comisiones desde tu celular." />
  <% } %>
  <meta name="twitter:image" content="https://salsa-candela.com/my-favicon/web-app-manifest-512x512.png" />
  <meta name="twitter:image:alt" content="Logo de Salsa Candela Academia de Baile" />

  <!-- WhatsApp Specific (uses Open Graph) -->
  <meta property="og:image:secure_url" content="https://salsa-candela.com/my-favicon/web-app-manifest-512x512.png" />

  <!-- All css here -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <!-- <link rel="stylesheet" href="css/font-awesome.min.css" /> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"/>
  <link rel="stylesheet" href="/css/shortcode/shortcodes.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/style_general.css" />
  <link rel="stylesheet" href="/css/style_navigation_mobile.css" />
  <link rel="stylesheet" href="/css/style_sucursales.css" />
  <link rel="stylesheet" href="/css/style_guia_codi.css" />
  <link rel="stylesheet" href="/css/responsive.css" />
  <script src="/js/vendor/modernizr-3.11.2.min.js"></script>
  <!-- Google tag (gtag.js) -->
  <script
    async
    src="https://www.googletagmanager.com/gtag/js?id=G-CVYCZ5NTSK"
  ></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "G-CVYCZ5NTSK");
  </script>

  <!-- TikTok Pixel Code Start -->
  <script>
    !(function (w, d, t) {
      w.TiktokAnalyticsObject = t;
      var ttq = (w[t] = w[t] || []);
      (ttq.methods = [
        "page",
        "track",
        "identify",
        "instances",
        "debug",
        "on",
        "off",
        "once",
        "ready",
        "alias",
        "group",
        "enableCookie",
        "disableCookie",
        "holdConsent",
        "revokeConsent",
        "grantConsent",
      ]),
        (ttq.setAndDefer = function (t, e) {
          t[e] = function () {
            t.push([e].concat(Array.prototype.slice.call(arguments, 0)));
          };
        });
      for (var i = 0; i < ttq.methods.length; i++)
        ttq.setAndDefer(ttq, ttq.methods[i]);
      (ttq.instance = function (t) {
        for (var e = ttq._i[t] || [], n = 0; n < ttq.methods.length; n++)
          ttq.setAndDefer(e, ttq.methods[n]);
        return e;
      }),
        (ttq.load = function (e, n) {
          var r = "https://analytics.tiktok.com/i18n/pixel/events.js",
            o = n && n.partner;
          (ttq._i = ttq._i || {}),
            (ttq._i[e] = []),
            (ttq._i[e]._u = r),
            (ttq._t = ttq._t || {}),
            (ttq._t[e] = +new Date()),
            (ttq._o = ttq._o || {}),
            (ttq._o[e] = n || {});
          n = document.createElement("script");
          (n.type = "text/javascript"),
            (n.async = !0),
            (n.src = r + "?sdkid=" + e + "&lib=" + t);
          e = document.getElementsByTagName("script")[0];
          e.parentNode.insertBefore(n, e);
        });

      ttq.load("D459FP3C77U6O1UKP1RG");
      ttq.page();
    })(window, document, "ttq");
  </script>
  <!-- TikTok Pixel Code End -->
</head>