<!-- Table Start -->
<table class="styled-table">
  <thead>
    <tr>
      <th>Taller</th>
      <th>L</th>
      <th>M</th>
      <th>S</th>
      <th>D</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Dia de la semana:</td>
      <td>Lunes y Miércoles</td>
      <td>Martes y Jueves</td>
      <td>Sábados</td>
      <td>Domingos</td>
    </tr>
    <tr>
      <td>Duración de clase:</td>
      <td>1 h 30 min</td>
      <td>1 h 30 min</td>
      <td>2 h</td>
      <td>2 h</td>
    </tr>
    <tr>
      <td>Numero de clases:</td>
      <td>10</td>
      <td>10</td>
      <td>5</td>
      <td>5</td>
    </tr>
    <tr>
      <td>Duración del programa:</td>
      <td>5 <br />semanas</td>
      <td>5 <br />semanas</td>
      <td>5 <br />semanas</td>
      <td>5 <br />semanas</td>
    </tr>
    <tr>
      <td>Sucursal:</td>
      <td>
        <a href="#sucursal-xola">Xola</a><br /><br />
        <a href="#sucursal-valle">Valle</a><br /><br />
        <a href="#sucursal-satelite">Satelite</a>
      </td>
      <td>
        <a href="#sucursal-xola">Xola</a><br /><br />
        <a href="#sucursal-valle">Valle</a><br /><br />
        <a href="#sucursal-claveria">Claveria</a><br /><br />
        <a href="#sucursal-coapa">Coapa</a>
      </td>
      <td>
        <a href="#sucursal-xola">Xola</a><br /><br />
        <a href="#sucursal-valle">Valle</a>
      </td>
      <td>
        <a href="#sucursal-xola">Xola</a><br /><br />
        <a href="#sucursal-valle">Valle</a><br /><br />
        <a href="#sucursal-satelite">Satelite</a>
      </td>
    </tr>
    <tr>
      <td>Precio Individual:</td>
      <td>$ 1,300</td>
      <td>$ 1,300</td>
      <td>$ 1,300</td>
      <td>$ 1,300</td>
    </tr>
    <tr>
      <td>Precio Pareja:</td>
      <td>$ 2,000</td>
      <td>$ 2,000</td>
      <td>$ 2,000</td>
      <td>$ 2,000</td>
    </tr>
  </tbody>
</table>
<!-- Table End -->
