<!DOCTYPE html>
<html class="no-js" lang="es">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>
      Salsa Candela México | Academia de Baile CDMX | Salsa y Bachata
    </title>
    <meta
      name="description"
      content="Academia de baile de enseñanza de salsa cubana, estilo LA y bachata. "
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Favicon Icon -->
    <link rel="shortcut icon" type="image/x-icon" href="img/logo/favicon.png" />
    <!-- All css here -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/font-awesome.min.css" />
    <link rel="stylesheet" href="css/shortcode/shortcodes.css" />
    <link rel="stylesheet" href="css/slick.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/responsive.css" />
    <script src="js/vendor/modernizr-3.11.2.min.js"></script>
  </head>
  <body>
    <!-- Header Area Start -->
    <header class="top">
      <div class="header-area ptb-18 header-sticky">
        <div class="container">
          <div class="row">
            <div class="col-lg-2">
              <div class="logo">
                <a href="#"
                  ><img
                    src="img/logo/logo.png"
                    alt="Salsa Candela Logo"
                    class="logo"
                /></a>
              </div>
            </div>
            <div class="col-lg-8">
              <div class="content-wrapper">
                <!-- Main Menu Start -->
                <div class="main-menu text-center">
                  <nav>
                    <ul>
                      <li><a href="/">Inicio</a></li>
                      <li><a href="/salsa">Salsa</a></li>
                      <li><a href="/bachata">Bachata</a></li>
                      <li><a href="/particulares">Particulares</a></li>
                      <li><a href="/fiesta">Fiesta</a></li>
                      <li><a href="/faq">FAQ</a></li>
                      <li><a href="/contacto">Contacto</a></li>
                    </ul>
                  </nav>
                </div>
                <div class="mobile-menu"></div>
                <!-- Main Menu End -->
              </div>
            </div>
            <div class="col-lg-2 d-none d-lg-block">
              <div class="header-contact text-end">
                <form action="/checkout" method="post">
                  <button class="banner-btn" type="submit">Inscribirme</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- Header Area End -->
  </body>
</html>
