<!-- Table Start -->

<!-- Table 1 Start -->
<table class="styled-table">
  <thead>
    <tr>
      <th>Taller</th>
      <th>L</th>
      <th>M</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Dia de la semana:</td>
      <td>Lunes y Miércoles</td>
      <td>Martes y Jueves</td>
    </tr>
    <tr>
      <td>Duración de clase:</td>
      <td>90 min</td>
      <td>90 min</td>
    </tr>
    <tr>
      <td>Duración del programa:</td>
      <td>5 <br />semanas</td>
      <td>5 <br />semanas</td>
    </tr>
    <tr>
      <td>Sucursal:</td>
      <td>
        Xola<br /><br />
        Valle<br /><br />
        Satelite
      </td>
      <td>
        Xola<br /><br />
        Valle<br /><br />
        Claveria<br /><br />
        Coapa
      </td>
    </tr>
    <tr>
      <td>Precio Individual:</td>
      <td>$ 1,300</td>
      <td>$ 1,300</td>
    </tr>
    <tr>
      <td>Precio Pareja:</td>
      <td>$ 2,000</td>
      <td>$ 2,000</td>
    </tr>
  </tbody>
</table>
<!-- Table 1 End -->

<!-- Table 2 Start -->
<table class="styled-table">
  <thead>
    <tr>
      <th>Taller</th>
      <th>S</th>
      <th>D</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Dia de la semana:</td>
      <td>Sábados</td>
      <td>Domingos</td>
    </tr>
    <tr>
      <td>Duración de clase:</td>
      <td>120 min</td>
      <td>120 min</td>
    </tr>
    <tr>
      <td>Duración del programa:</td>
      <td>5 <br />semanas</td>
      <td>5 <br />semanas</td>
    </tr>

    <tr>
      <td>Sucursal:</td>
      <td>
        Xola<br /><br />
        Valle
      </td>
      <td>
        Xola<br /><br />
        Valle<br /><br />
        Satelite
      </td>
    </tr>
    <tr>
      <td>Precio Individual:</td>
      <td>$ 1,300</td>
      <td>$ 1,300</td>
    </tr>
    <tr>
      <td>Precio Pareja:</td>
      <td>$ 2,000</td>
      <td>$ 2,000</td>
    </tr>
  </tbody>
</table>
<!-- Table 2 End -->

<!-- Table End -->
