    <!-- Start of Map Area -->
    <div class="map-area">
      <!-- google-map-area start -->
      <div class="google-map-area">
        <!--  Map Section -->
        <div id="contacts" class="map-area">
          <iframe
            class="contact-map-size"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15054.031530561573!2d-99.16139312409982!3d19.39044996929411!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1fefe8b9903ad%3A0x4fe4113243e29a80!2sEstafetas%2099%2C%20Postal%2C%20Benito%20Ju%C3%A1rez%2C%2003410%20Ciudad%20de%20M%C3%A9xico%2C%20CDMX%2C%20Mexico!5e0!3m2!1sen!2sbd!4v1701319854445!5m2!1sen!2sbd"
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          >
          </iframe>
        </div>
      </div>
    </div>
    <!-- End of Map Area -->

    <!-- Footer Area Start -->
    <footer class="footer-area bg-gray">
      <div class="footer-widget-area bg-3 pt-98 pb-90 fix">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-6 centered-element">
              <address class="single-footer-widget">
                <img src="img/logo/logo.png" alt="Salsa Candela Logo" class="logo"/>
                <ul>
                  <li><i class="zmdi zmdi-phone"></i> 55 4144 3745</li>
                  <li><a href="https://www.facebook.com/Salsaycandela"
                    ><i class="zmdi zmdi-facebook"></i> salsaycandela</a
                  ></li>
                  <li><a href="https://www.instagram.com/salsa_candela/"
                    ><i class="zmdi zmdi-instagram"></i>salsa_candela</a
                  ></li>
                  <li><a href="mailto:clasescandela@gmail.com"><i class="zmdi zmdi-email"></i> clasescandela@gmail.com</a></li>
                  <li>
                    <i class="zmdi zmdi-home"></i> Estafetas 99, Col Postal,
                    CDMX
                  </li>
                </ul>
              </address>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-text-area fix bg-coffee ptb-18">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="footer-text text-center">
                <span> &copy; <span id="copyright-year"></span> Salsa Candela.</span>
                <script>
                  document.getElementById('copyright-year').textContent = new Date().getFullYear();
                </script>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- Footer Area End -->

    <!-- JS Files Start -->
    <script src="js/vendor/jquery-3.6.0.min.js"></script>
    <script src="js/vendor/jquery-migrate-3.3.2.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.meanmenu.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/imagesloaded.pkgd.min.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/jquery.magnific-popup.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>
    <script src="js/updatePrices.js"></script>
    <script src="js/countdownTimer.js"></script>
    <!-- JS Files End -->

  <!-- Body & html close -->
  </body>
</html>
