<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>Salsa Candela México | Academia de Baile CDMX | Salsa y Bachata</title>
  <meta
    name="description"
    content="Academia de baile de enseñanza de salsa cubana, estilo LA y bachata. "
  />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- Favicon Icon -->
  <link rel="shortcut icon" type="image/x-icon" href="img/logo/favicon.png" />
  <!-- All css here -->
  <link rel="stylesheet" href="css/bootstrap.min.css" />
  <link rel="stylesheet" href="css/font-awesome.min.css" />
  <link rel="stylesheet" href="css/shortcode/shortcodes.css" />
  <link rel="stylesheet" href="css/slick.css" />
  <link rel="stylesheet" href="css/style.css" />
  <link rel="stylesheet" href="css/responsive.css" />
  <script src="js/vendor/modernizr-3.11.2.min.js"></script>
  <!-- Google tag (gtag.js) -->
  <script
    async
    src="https://www.googletagmanager.com/gtag/js?id=G-CVYCZ5NTSK"
  ></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "G-CVYCZ5NTSK");
  </script>
</head>
