<!DOCTYPE html>
<html class="no-js" lang="es">
  <%- include('store_head') -%>
  <body>
    <!-- Header Area Start -->
    <header class="top">
      <div class="header-area ptb-18 header-sticky">
        <div class="container">
          <div class="row">
            <div class="col-lg-2">
              <div class="logo">
                <img
                  src="img/logo/logo.png"
                  alt="Salsa Candela Logo"
                  class="logo"
                />
              </div>
            </div>
            <div class="col-lg-8">
              <div class="content-wrapper">
                <!-- Main Menu Start -->
                <nav class="main-menu text-center" role="navigation">
                  <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/salsa">Salsa</a></li>
                    <li><a href="/bachata">Bachata</a></li>
                    <li><a href="/particulares">Particulares</a></li>
                    <li><a href="/fiesta">Fiesta</a></li>
                    <li><a href="/faq">FAQ</a></li>
                    <li><a href="/contacto">Contacto</a></li>
                  </ul>
                </nav>
                <div class="mobile-menu"></div>
                <!-- Main Menu End -->
              </div>
            </div>
            <div class="col-lg-2 d-none d-lg-block">
              <div class="header-contact text-end">
                <form action="/checkout" method="post">
                  <button class="banner-btn" type="submit">Inscribirme</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- Header Area End -->

