<!-- Include header -->
<%- include('partials/store_header') -%>

<!-- Banner Area Start -->
<section class="banner-area text-start">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="banner-content-wrapper">
          <div class="banner-content">
            <h2>Preguntas frecuentes</h2>
            <div class="banner-breadcrumb">
              <ul>
                <li>
                  <a href="/">Inicio </a>
                  <i class="zmdi zmdi-chevron-right"></i>
                </li>
                <li>Preguntas frecuentes</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Banner Area End -->

<!-- FAQ Area Start -->
<section class="event-area pt-50 pb-30 bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8 offset-xl-2 offset-lg-2">
        <div class="section-title text-center">
          <h2>Preguntas Frecuentes</h2>
          <br />
          <div style="text-align: left">
            <p>
              Sabemos que probablemente tengas muchas dudas.Estas son las
              respuestas a las preguntas mas comunes que recibimos.
              <br />
              <br />
              Si tienes dudas adicionales ponte en contacto con nosotros y con
              gusto te atenderemos.
            </p>
          </div>
        </div>
        <div class="accordion" id="accordionExample">
          <!-- Question 1: Start-->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseNineteen"
                aria-expanded="false"
                aria-controls="collapseNineteen"
              >
                ¿Es necesario llevar pareja?
              </button>
            </h2>
            <div
              id="collapseNineteen"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                No es necesario acudir con pareja a ninguna de nuestras clases.
                <br /><br />Las sesiones se dan con rotaciones constantes de
                pareja, por lo que estarás bailando con todas las personas de tu
                grupo desde la primer clase.
              </div>
            </div>
          </div>
          <!-- Question 1: End-->
          <!-- Question 1x: Start-->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseThirteen"
                aria-expanded="false"
                aria-controls="collapseThirteen"
              >
                ¿Tienen clase muestra?
              </button>
            </h2>
            <div
              id="collapseThirteen"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                Podrías visitarnos en nuestra matriz de Estafetas 99 para
                conocer las instalaciones y el estilo de clase.
                <br /><br />No es recomendable que tomes la clase hoy, puesto
                que el grupo arrancó con nosotros hace unas semanas y ya lleva
                un cierto avance, pero con gusto te esperamos para que conozcas
                al equipo de instructores. <br /><br />La idea del curso es que
                el grupo avance parejo a lo largo de 5 semanas a partir de una
                fecha de inicio. <br /><br />
                Las clases se imparten en formato de taller intensivo para que
                tu aprendizaje sea más rápido y estructurado: la idea es que el
                grupo avance parejo durante 5 semanas a partir de una fecha de
                inicio y que se lleve un seguimiento progresivo cada clase.
                <br /><br />Una vez terminado este periodo puedes inscribirte al
                siguiente nivel para dar continuidad a tu aprendizaje, pero es
                importante que lo veas como un curso completo y no como clases
                sueltas.
              </div>
            </div>
          </div>
          <!-- Question 1x: End-->
          <!-- Question 1xx: Start-->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseTwenty"
                aria-expanded="false"
                aria-controls="collapseTwenty"
              >
                ¿Qué pasa si no puedo ir a alguna sesión?
              </button>
            </h2>
            <div
              id="collapseTwenty"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                Puedes recuperar cualquier clase perdida posteriormente sin
                costo adicional, incluso en los horarios adicionales de tu
                sucursal o alternando sucursales.
              </div>
            </div>
          </div>
          <!-- Question 1xx: End-->
          <!-- Question 1xxxy: Start-->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseTwentyTwo"
                aria-expanded="false"
                aria-controls="collapseTwentyTwo"
              >
                ¿Y si aprendo ?
              </button>
            </h2>
            <div
              id="collapseTwentyTwo"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                El curso tiene más de 10 años de experiencia en CDMX.
                <br /><br />La metodología está diseñada para llevarte desde
                cero a un muy buen nivel de baile para cualquier pista, fiesta o
                bar con un repertorio de más de 10 figuras y todo lo necesario
                para poder llevar a tu pareja y crear tus propias combinaciones
              </div>
            </div>
          </div>
          <!-- Question 1xxxy: End-->
          <!-- Question 2: Start-->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne"
                aria-expanded="false"
                aria-controls="collapseOne"
              >
                ¿Qué es Salsa Candela?
              </button>
            </h2>
            <div
              id="collapseOne"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                Salsa Candela es una academia de baile con mas de 10 años de
                experiencia.
              </div>
            </div>
          </div>
          <!-- Question 2: End-->
          <!-- Question 3: Start-->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseTwo"
                aria-expanded="false"
                aria-controls="collapseTwo"
              >
                ¿Qué tipo de bailes enseñan?
              </button>
            </h2>
            <div
              id="collapseTwo"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                Principalmente Salsa y Bachata, aun que también tenemos cursos
                de estilo, timba y todo tipo de bailes latinos.
              </div>
            </div>
          </div>
          <!-- Question 3: End-->
          <!-- Question 4: Start-->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseThree"
                aria-expanded="false"
                aria-controls="collapseThree"
              >
                ¿Qué es la fiesta mensual?
              </button>
            </h2>
            <div
              id="collapseThree"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                Un evento donde puedes ir a divertirte y practicar lo que
                aprendiste en tus clases con la comunidad de Salsa Candela.
              </div>
            </div>
          </div>
          <!-- Question 4: End-->
          <!-- Question 5: Start-->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFour"
                aria-expanded="false"
                aria-controls="collapseFour"
              >
                ¿Qué son las clases particulares?
              </button>
            </h2>
            <div
              id="collapseFour"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                Las clases particulares son la forma más rápida de aprender, con
                una atención 100% personalizada.
                <br /><br />Las sesiones son de 75 minutos, y pueden ser a
                domicilio o en nuestro estudio en el horario que mejor te
                acomode. <br /><br />Tenemos los siguientes paquetes:
                <br /><br />1 clase x $600 <br /><br />5 clases x $2500
                <br /><br />10 clases x $4000
              </div>
            </div>
          </div>
          <!-- Question 5: End-->
          <!-- Question 6: Start-->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFive"
                aria-expanded="false"
                aria-controls="collapseFive"
              >
                ¿Cómo son las clases?
              </button>
            </h2>
            <div
              id="collapseFive"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                En las clases te enseñamos pasos y secuencias de baile. Los
                practicamos individualmente, en grupo, con y sin música.
                <br /><br />Es la mejor forma de aprender, divertirte y hacer
                amigos.
              </div>
            </div>
          </div>
          <!-- Question 6: End-->
          <!-- Question 7: Start-->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseSix"
                aria-expanded="false"
                aria-controls="collapseSix"
              >
                ¿Cuántas personas van a las clases?
              </button>
            </h2>
            <div
              id="collapseSix"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                Los grupos usualmente son de 20-40 personas. Los grupos mas
                avanzados usualmente son mas pequeños.
              </div>
            </div>
          </div>
          <!-- Question 7: End-->
          <!-- Question 8: Start-->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseSeven"
                aria-expanded="false"
                aria-controls="collapseSeven"
              >
                ¿Cuánto tiempo dura cada clase?
              </button>
            </h2>
            <div
              id="collapseSeven"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                Las clases entre semana duran una hora y media, dos veces por
                semana.
                <br /><br />Las clases en fin de semana son una vez por semana y
                duran dos horas.
              </div>
            </div>
          </div>
          <!-- Question 8: End-->
          <!-- Question 9: Start-->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseEight"
                aria-expanded="false"
                aria-controls="collapseEight"
              >
                ¿Cuánto dura el curso?
              </button>
            </h2>
            <div
              id="collapseEight"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                Los cursos duran cinco semanas. <br /><br />Las clases
                particulares se venden en paquetes de una, cinco o diez clases.
              </div>
            </div>
          </div>
          <!-- Question 9: End-->
          <!-- Question 10: Start-->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseNine"
                aria-expanded="false"
                aria-controls="collapseNine"
              >
                ¿Qué días y en qué horarios son las clases?
              </button>
            </h2>
            <div
              id="collapseNine"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                Tenemos diferentes horarios y días en cada sucursal.
                <br /><br />Visita la sección de ‘Sucursales y Clases’ para ver
                nuestras clases y horarios actualizados.
              </div>
            </div>
          </div>
          <!-- Question 10: End-->
          <!-- Question 11: Start-->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseTen"
                aria-expanded="false"
                aria-controls="collapseTen"
              >
                ¿Donde están las sucursales de Salsa Candela?
              </button>
            </h2>
            <div
              id="collapseTen"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                Tenemos cinco Sucursales de Salsa Candela.
                <br /><br />
                <b>Sucursal Xola:</b>
                <a href="https://maps.app.goo.gl/ECFAU2rAJXDWHjSs8"
                  >Estafetas 99, Postal, Benito Juárez, 03410 Ciudad de México,
                  CDMX</a
                >
                <br /><br />
                <b>Sucursal Valle:</b>
                <a href="https://maps.app.goo.gl/rceaexAcpfkiMEhu9"
                  >Félix Cuevas 407, Col del Valle Sur, Benito Juárez, 03104
                  Ciudad de México, CDMX </a
                ><br /><br />
                <b>Sucursal Claveria:</b>
                <a href="https://maps.app.goo.gl/d8MddrjfQVpQEa1KA"
                  >Palestina 10, Claveria, Azcapotzalco, 02080 Ciudad de México,
                  CDMX</a
                >
                <br /><br />
                <b>Sucursal Coapa:</b>
                <a href="https://maps.app.goo.gl/9Jr8G1LsYNnq3iEL9"
                  >Calz Acoxpa 885, Coapa, Coapa Super 4, Tlalpan, 14390 Ciudad
                  de México, CDMX</a
                >
                <br /><br /><b>Sucursal Satelite:</b>
                <a href="https://maps.app.goo.gl/m3xE2WBgK58LZbgG7"
                  >Green Plaza, Blvd. de la Sta. Cruz 142, Sta Cruz Acatlan,
                  53150 Naucalpan de Juárez, Méx.</a
                >
                <br /><br />
              </div>
            </div>
          </div>
          <!-- Question 11: End-->
          <!-- Question 12: Start-->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseEleven"
                aria-expanded="false"
                aria-controls="collapseEleven"
              >
                ¿Dónde es la fiesta mensual?
              </button>
            </h2>
            <div
              id="collapseEleven"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                La fiesta mensual es en nuestra sucursal Xola:
                <br /><br />Estafetas 99, Postal, Benito Juárez, 03410 Ciudad de
                México, CDMX. <br /><br />El evento empieza a las 8pm y termina
                a las 3am. <br /><br />Para mas información y comprar boletos
                puedes visitar la pagina de la <a href="/fiesta">fiesta</a>.
              </div>
            </div>
          </div>
          <!-- Question 12: End-->
          <!-- Question 13: Start-->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseTwelve"
                aria-expanded="false"
                aria-controls="collapseTwelve"
              >
                ¿Dónde son las clases particulares?
              </button>
            </h2>
            <div
              id="collapseTwelve"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                Las clases particulares pueden ser en alguno de nuestras
                sucursales, en tu domicilio o cualquier otro espacio que tengas
                disponible. <br /><br />Ponte en contacto con nosotros por
                Whatsapp y con gusto te atenderemos.
              </div>
            </div>
          </div>
          <!-- Question 13: End-->
          <!-- Question 14: Start-->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFourteen"
                aria-expanded="false"
                aria-controls="collacollapseFourteenpseFive"
              >
                ¿Tienen clases para principiantes?
              </button>
            </h2>
            <div
              id="collapseFourteen"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                Si. <br /><br />Nuestras están diseñados para principiantes y te
                llevarán a un muy buen nivel de baile en solamente 5 semanas.
              </div>
            </div>
          </div>
          <!-- Question 14: End-->
          <!-- Question 15: Start-->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFifteen"
                aria-expanded="false"
                aria-controls="collapseFifteen"
              >
                ¿Que pasa si no soy principiante?
              </button>
            </h2>
            <div
              id="collapseFifteen"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                Tenemos todos los niveles, desde principiantes hasta avanzados.
                <br /><br />Los grupos se dan en paralelo (mismos horarios,
                costos y fechas de inicio). <br /><br />Puedes aprovechar el
                precio de preventa para cualquier nivel y el primer día del
                curso te haremos una valoración rápida para determinar el nivel
                que se acomode a tu experiencia.
              </div>
            </div>
          </div>
          <!-- Question 15: End-->
          <!-- Question 16: Start-->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseSixteen"
                aria-expanded="false"
                aria-controls="collapseSixteen"
              >
                ¿Dan clases a empresas y para eventos?
              </button>
            </h2>
            <div
              id="collapseSixteen"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                Si. <br /><br />Tenemos programas de integración de personal y
                desarrollo humano entorno al baile. <br /><br />También hemos
                organizado talleres intensivos para eventos especiales, como
                bodas o quince años. <br /><br />Ponte en contacto con nosotros
                por <a href="https://wa.me/5215541443745">Whatsapp</a> y con
                gusto te atenderemos.
              </div>
            </div>
          </div>
          <!-- Question 16: End-->
          <!-- Question 17: Start-->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseSeventeen"
                aria-expanded="false"
                aria-controls="collapseSeventeen"
              >
                ¿Es seguro comprar en línea?
              </button>
            </h2>
            <div
              id="collapseSeventeen"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                Si. <br /><br />
                Puedes comprar en linea tu acceso al curso o evento de manera
                segura. <br /><br />Te recomendamos hacerlo para facilitar tu
                acceso al inicio de curso y aprovechar los precios de preventa.
              </div>
            </div>
          </div>
          <!-- Question 17: End-->
          <!-- Question 18: Start-->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseEighteen"
                aria-expanded="false"
                aria-controls="collapseEighteen"
              >
                ¿Puedo pagar el día del evento?
              </button>
            </h2>
            <div
              id="collapseEighteen"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                Si. <br /><br />Puedes registrarte y pagar el dia de inicio de
                curso o en la taquilla con tarjeta o en efectivo. <br /><br />
                Te recomendamos inscribirte con anticipación para aprovechar
                nuestros descuentos de preventa.
              </div>
            </div>
          </div>
          <!-- Question 18: End-->
          <!-- New Question: Start -->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseContact"
                aria-expanded="false"
                aria-controls="collapseContact"
              >
                ¿Cuál es su email o correo de contacto?
              </button>
            </h2>
            <div
              id="collapseContact"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                Puedes escribirnos cualquier duda o comentario a:
                clasescandela@gmail.com
              </div>
            </div>
          </div>
          <!-- New Question: End -->
          <!-- New Question: Start -->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseSocialMedia"
                aria-expanded="false"
                aria-controls="collapseSocialMedia"
              >
                ¿Dónde puedo seguirlos en redes sociales?
              </button>
            </h2>
            <div
              id="collapseSocialMedia"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                Nos puedes encontrar en:
                <br /><br />
                - Instagram:
                <a href="https://www.instagram.com/salsa_candela/"
                  >@salsa_candela</a
                >
                <br />
                - Facebook:
                <a href="https://www.facebook.com/Salsaycandela"
                  >Salsa y Candela</a
                >
                <br />
                - YouTube:
                <a href="https://www.youtube.com/@SalsayCandela"
                  >@SalsayCandela</a
                >
                <br />
                - Página web:
                <a href="https://www.salsacandela.net/">www.salsacandela.net</a>
              </div>
            </div>
          </div>
          <!-- New Question: End -->
          <!-- New Question: Start -->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapsePayment"
                aria-expanded="false"
                aria-controls="collapsePayment"
              >
                ¿Qué formas de pago tienen?
              </button>
            </h2>
            <div
              id="collapsePayment"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                Puedes utilizar cualquiera de nuestras formas de pago:
                <br /><br />
                - Transferencia a CLABE BBVA 012180027842910184 (Rodrigo Chávez
                Calvillo)
                <br />
                - Envío de pago via PayPal a rodrigo.chavez.calvillo.q@gmail.com
                <br />
                - Depósito en OXXO o SEVEN a la tarjeta 4152 3136 8550 2192
                <br />
                - En sucursal también puedes hacer el pago vía transferencia,
                tarjeta de crédito o pago en efectivo.
              </div>
            </div>
          </div>
          <!-- New Question: End -->
          <!-- New Question: Start -->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseShows"
                aria-expanded="false"
                aria-controls="collapseShows"
              >
                ¿Ofrecen shows de baile para eventos?
              </button>
            </h2>
            <div
              id="collapseShows"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                Sí, podemos organizar shows de baile y demostraciones para
                eventos especiales como bodas, cumpleaños, y eventos
                corporativos.
              </div>
            </div>
          </div>
          <!-- New Question: End -->
        </div>
        <br />
        <br />
        <br />
        <br />
        <br />
      </div>
    </div>
  </div>
  <!-- </section> -->
  <!-- FAQ Area End -->

  <!-- Include Footer -->
  <%- include('partials/store_footer') -%>
</section>
