<!-- Include header -->
<%- include('partials/store_header') -%>

<!-- Banner Area Start -->
<section class="banner-area text-start">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="banner-content-wrapper">
          <div class="banner-content">
            <h2>Clases Particulares</h2>
            <div class="banner-breadcrumb">
              <ul>
                <li>
                  <a href="/">Inicio </a>
                  <i class="zmdi zmdi-chevron-right"></i>
                </li>
                <li>Clases de Particulares</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Banner Area End -->

<!-- Event Area Start -->
<section class="event-area pt-50 pb-10 bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-xl-2 offset-lg-2">
        <div class="section-title text-center">
          <!-- Clases Particulares Section Start-->
          <!-- -------------------------------- -->
          <section>
            <h2>Clases Particulares</h2>

            <div class="clases-personales-video-div">
              <iframe
                class="clases-personales-video"
                width="560"
                height="315"
                src="https://www.youtube.com/embed/ywrJ5sg6y6c?si=w7Iu0TTt0CLwgkEc"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen
              ></iframe>
            </div>

            <div style="text-align: center; margin-top: 50px">
              <span>
                Las clases personales son la forma más rápida de aprender y el
                mejor complemento para tus clases grupales:
              </span>
              <br /><br />
              <span>
                Aprende a tu propio ritmo a la mano de uno de nuestros
                instructores.
              </span>
              <br />
              <br />
            </div>

            <div style="text-align: center">
              <span>
                Tenemos paquetes de 1, 5 o 10 clases de 75 minutos.
                <br /><br />
                <b>Mas Información:</b>
                <a href="https://wa.me/5215541443745"
                  ><i class="zmdi zmdi-whatsapp"></i> 55 41 44 37 45</a
                >
              </span>
            </div>
          </section>
          <!-- Clases Particulares Section End-->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Event Area End -->

<!-- Pricing Area Start -->
<div class="pricing-area pt-50 pb-120 bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-xl-2 offset-lg-2">
        <div class="section-title text-center">
          <h2>Precios</h2>
          <p>Estos son nuestros paquetes de clases particulares:</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="single-table text-center">
          <div class="table-head">
            <h2>Paquete 1</h2>
            <h1>$600<span>pesos</span></h1>
          </div>
          <div class="table-body">
            <ul>
              <li><strong>1 clase de 75 minutos</strong></li>
              <li>Para 1-2 personas</li>
              <li>$200 extra por persona</li>
              <li>Salsa o Bachata</li>
              <li>Horarios flexibles</li>
              <li>Atención personalizada</li>
              <li>En tu domicilio o en estudio</li>
            </ul>
            <form action="/info-particulares" method="post">
              <button type="submit">Comprar</button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-table text-center">
          <div class="table-head">
            <h2>Paquete 5</h2>
            <h1>$2,500<span>pesos</span></h1>
          </div>
          <div class="table-body">
            <ul>
              <li><strong>5 clases de 75 minutos</strong></li>
              <li>Para 1-2 personas</li>
              <li>$200 extra por persona</li>
              <li>Salsa o Bachata</li>
              <li>Horarios flexibles</li>
              <li>Atención personalizada</li>
              <li>En tu domicilio o en estudio</li>
            </ul>
            <form action="/info-particulares" method="post">
              <button type="submit">Comprar</button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mt-5 mt-lg-0">
        <div class="single-table text-center">
          <div class="table-head">
            <h2>Paquete 10</h2>
            <h1>$4,000<span>pesos</span></h1>
          </div>
          <div class="table-body">
            <ul>
              <li><strong>10 clases de 75 minutos</strong></li>
              <li>Para 1-2 personas</li>
              <li>$200 extra por persona</li>
              <li>Salsa o Bachata</li>
              <li>Horarios flexibles</li>
              <li>Atención personalizada</li>
              <li>En tu domicilio o en estudio</li>
            </ul>
            <form action="/info-particulares" method="post">
              <button type="submit">Comprar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Pricing Area End -->

<!-- Include Footer -->
<%- include('partials/store_footer') -%>
