<!-- Include header -->
<%- include('partials/store_header') -%>

<!-- Banner Area Start -->
<section class="banner-area text-start">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="banner-content-wrapper">
          <div class="banner-content">
            <h2>Clases</h2>
            <div class="banner-breadcrumb">
              <ul>
                <li>
                  <a href="/">Inicio </a>
                  <i class="zmdi zmdi-chevron-right"></i>
                </li>
                <li>Clases</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Banner Area End -->

<!-- Event Area Start -->
<section class="event-area pt-50 pb-10 bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-xl-2 offset-lg-2">
        <div class="section-title text-center">
          <h2>Clases</h2>
          <!-- Description Area -->
          <div style="text-align: left">
            <p></p>
            <p>
              Aprende a bailar Salsa y Bachata en nuestros talleres de baile.<br /><br />
              Puedes escoger entre varios horarios:<br /><br />
              Entre semana tenemos tomar clases lunes y miércoles, o martes y
              jueves.<br /><br />
              En fines de semana puedes tomar clases sábados o domingos.<br /><br />
              Cada taller tiene una duración de 5 semanas. <br /><br />
              Las clases entre semana duran 90 minutos y las de fin de semana
              120 minutos. <br /><br />
              Cada taller de Salsa está divididos en 8 niveles. <br /><br />
              Cada taller de Bachata esta divididos en 5 niveles. <br /><br />
              El nivel 1 es para principiantes y cada nivel aumenta un poco la
              dificultad. <br /><br />

              <b>Nuestro proximo inicio de curso es el xx</b><br /><br />
              <b>A continuación te presentamos nuestros horarios de clases:</b>
            </p>
          </div>
          <div id="Clases-Salsa" style="height: 120px"></div>
          <h2>Clases de Salsa</h2>
          <!-- Horarios Clases Salsa Start -->
          <!-- Horarios Salsa Xola -->
          <div style="text-align: left; margin: 0 auto; padding-top: 50px">
            <b><span style="color: #e04a25">Salsa Sucursal Xola:</span></b>
            <br /><br />
            <a href="https://maps.app.goo.gl/ECFAU2rAJXDWHjSs8"
              ><span>Estafetas 99, Postal, Benito Juárez, CDMX</span>
            </a>
            <br /><br />
            <ul class="horarios-fiesta">
              <li><b>Lunes y Miércoles:</b> 8:00pm - 9:30pm</li>
              <li><b>Martes y Jueves:</b> 8:00pm - 9:30pm</li>
              <li><b>Sabados:</b> 10:00am - 12:00pm</li>
              <li><b>Domingos:</b> 4:00pm - 6:00pm</li>
            </ul>
          </div>
          <br /><br />
          <!-- Horarios Salsa Valle -->
          <div style="text-align: left; margin: 0 auto">
            <b><span style="color: #e04a25">Salsa Sucursal Valle:</span></b>
            <br /><br />
            <a href="https://maps.app.goo.gl/rceaexAcpfkiMEhu9"
              ><span
                >Félix Cuevas 407, Col del Valle, Benito Juárez, CDMX.</span
              >
            </a>
            <br /><br />
            <ul class="horarios-fiesta">
              <li><b>Lunes y Miércoles:</b> 8:00pm - 9:30pm</li>
              <li><b>Martes y Jueves:</b> 8:00pm - 9:30pm</li>
              <li><b>Sábados:</b> 11:30am - 1:30pm</li>
              <li><b>Domingos:</b> 11:30pm - 1:30pm</li>
            </ul>
          </div>
          <br /><br />
          <!-- Horarios Salsa Satelite -->
          <div style="text-align: left; margin: 0 auto">
            <b><span style="color: #e04a25">Salsa Sucursal Satelite:</span></b>
            <br /><br />
            <a href="https://maps.app.goo.gl/qxQ1sBSzoWijhRam7"
              ><span>
                Blvd de la Sta Cruz 142, Altavista, Acatlán, Edo Mex.
              </span>
            </a>
            <br /><br />
            <ul class="horarios-fiesta">
              <li><b>Lunes y Miércoles:</b> 8:00pm - 9:30pm</li>
              <li><b>Domingos:</b> 11:30pm - 1:30pm</li>
            </ul>
          </div>
          <br /><br />
          <!-- Horarios Salsa Claveria -->
          <div style="text-align: left; margin: 0 auto">
            <b><span style="color: #e04a25">Salsa Sucursal Claveria:</span></b>
            <br /><br />
            <a href="https://maps.app.goo.gl/d8MddrjfQVpQEa1KA"
              ><span>Palestina 10, Claveria, Azcapotzalco, CDMX. </span>
            </a>
            <br /><br />
            <ul class="horarios-fiesta">
              <li><b>Martes y Jueves:</b> 8:00pm - 9:30pm</li>
            </ul>
          </div>
          <br /><br />
          <!-- Horarios Salsa Coapa -->
          <div style="text-align: left; margin: 0 auto">
            <b><span style="color: #e04a25">Salsa Sucursal Coapa:</span></b>
            <br /><br />
            <a href="https://maps.app.goo.gl/9Jr8G1LsYNnq3iEL9"
              ><span>Calz Acoxpa 885, Coapa, Tlalpan, CDMX.</span>
            </a>
            <br /><br />
            <ul class="horarios-fiesta">
              <li><b>Martes y Jueves:</b> 8:00pm - 9:30pm</li>
            </ul>
          </div>
          <br /><br />
          <!-- Horarios Clases Salsa End -->
          <div id="Clases-Bachata" style="height: 120px"></div>
          <h2>Clases de Bachata</h2>
          <!-- Horarios Bachata Xola -->
          <div style="text-align: left; margin: 0 auto; padding-top: 50px">
            <b><span style="color: #e04a25">Bachata Sucursal Xola:</span></b>
            <br /><br />
            <a href="https://maps.app.goo.gl/ECFAU2rAJXDWHjSs8"
              ><span>Estafetas 99, Postal, Benito Juárez, CDMX</span>
            </a>
            <br /><br />
            <ul class="horarios-fiesta">
              <li><b>Lunes y Miércoles:</b> 9:30pm - 10:30pm</li>
              <li><b>Martes y Jueves:</b> 9:30pm - 10:30pm</li>
              <li><b>Sábados:</b> 12:00am - 1:30pm</li>
              <li><b>Domingos:</b> 6:00pm - 7:30pm</li>
            </ul>
          </div>
          <br /><br />
          <!-- Horarios Bachata Valle -->
          <div style="text-align: left; margin: 0 auto">
            <b><span style="color: #e04a25">Bachata Sucursal Valle:</span></b>
            <br /><br />
            <a href="https://maps.app.goo.gl/rceaexAcpfkiMEhu9"
              ><span
                >Félix Cuevas 407, Col del Valle, Benito Juárez, CDMX.</span
              >
            </a>
            <br /><br />
            <ul class="horarios-fiesta">
              <li><b>Lunes y Miércoles:</b> 9:30pm - 10:30pm</li>
              <li><b>Sábados:</b> 1:30pm - 3:00pm</li>
              <li><b>Domingos:</b> 1:30pm - 3:00pm</li>
            </ul>
          </div>
          <br /><br />
          <!-- Horarios Bachata Satelite -->
          <div style="text-align: left; margin: 0 auto">
            <b
              ><span style="color: #e04a25">Bachata Sucursal Satelite:</span></b
            >
            <br /><br />
            <a href="https://maps.app.goo.gl/qxQ1sBSzoWijhRam7"
              ><span>
                Blvd de la Sta Cruz 142, Altavista, Acatlán, Edo Mex.
              </span>
            </a>
            <br /><br />
            <ul class="horarios-fiesta">
              <li><b>Lunes y Miércoles:</b> 9:30pm - 10:30pm</li>
              <li><b>Domingos:</b> 1:30pm - 3:00pm</li>
            </ul>
          </div>
          <br /><br />
          <!-- Horarios Bachata Claveria -->
          <div style="text-align: left; margin: 0 auto">
            <b
              ><span style="color: #e04a25">Bachata Sucursal Claveria:</span></b
            >
            <br /><br />
            <a href="https://maps.app.goo.gl/d8MddrjfQVpQEa1KA"
              ><span>Palestina 10, Claveria, Azcapotzalco, CDMX. </span>
            </a>
            <br /><br />
            <ul class="horarios-fiesta">
              <li><b>Martes y Jueves:</b> 9:30pm - 10:30pm</li>
            </ul>
          </div>
          <br /><br />
          <!-- Horarios Bachata Coapa -->
          <div style="text-align: left; margin: 0 auto">
            <b><span style="color: #e04a25">Bachata Sucursal Coapa:</span></b>
            <br /><br />
            <a href="https://maps.app.goo.gl/9Jr8G1LsYNnq3iEL9"
              ><span>Calz Acoxpa 885, Coapa, Tlalpan, CDMX.</span>
            </a>
            <br /><br />
            <ul class="horarios-fiesta">
              <li><b>Martes y Jueves:</b> 9:30pm - 10:30pm</li>
            </ul>
          </div>
          <br /><br />
          <!-- Clases Particulares -->
          <div id="Clases-Particulares" style="height: 120px"></div>
          <h2>Clases Particulares</h2>
          <div style="text-align: center; margin-top: 50px">
            <span>
              Las clases personales son la forma más rápida de aprender y el
              mejor complemento para tus clases grupales:
            </span>
          </div>
          <div
            style="
              text-align: left;
              max-width: fit-content;
              margin: 0 auto;
              margin-bottom: 20px;
            "
          >
            <ul class="horarios-fiesta" style="list-style-type: disc">
              <br /><br />
              <li>Atención 100% personalizada.</li>
              <li>Horarios a beneficio de tu agenda.<br /></li>
              <li>A domicilio o en nuestro estudio.</li>
            </ul>
          </div>
          <div style="text-align: center; margin-bottom: 50px">
            <span>
              Aprende a tu propio ritmo a la mano de uno de nuestros
              instructores.
            </span>
            <div class="row">
              <div class="col-12 text-center">
                <a class="banner-btn mt-55" href="#" data-text="Compar Paquete"
                  ><span>Compar Paquete</span></a
                >
              </div>
            </div>
          </div>

          <!-- End of Description Area -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Event Area End -->

<!-- Include Footer -->
<%- include('partials/store_footer') -%>
