<!-- Include header -->
<%- include('partials/store_header') -%>

<!-- Banner Area Start -->
<section class="banner-area text-start">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="banner-content-wrapper">
          <div class="banner-content">
            <h2>Preguntas frecuentes</h2>
            <div class="banner-breadcrumb">
              <ul>
                <li>
                  <a href="/">Inicio </a>
                  <i class="zmdi zmdi-chevron-right"></i>
                </li>
                <li>Preguntas frecuentes</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Banner Area End -->

<!-- FAQ Area Start -->
<section class="event-area pt-50 pb-30 bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-xl-2 offset-lg-2">
        <div class="section-title text-center">
          <h2>Preguntas Frecuentes</h2>
          <br />
          <div style="text-align: left">
            <p>
              Sabemos que probablemente tengas muchas dudas.Estas son las
              respuestas a las preguntas mas comunes que recibimos.
              <br />
              <br />
              Si tienes dudas adicionales ponte en contacto con nosotros y con
              gusto te atenderemos.
            </p>
          </div>
        </div>
        <div class="accordion" id="accordionExample">
          <!-- Question 1: Start-->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne"
                aria-expanded="false"
                aria-controls="collapseOne"
              >
                ¿Qué es Salsa Candela?
              </button>
            </h2>
            <div
              id="collapseOne"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                Salsa Candela es una academia de baile con mas de 10 años de
                experiencia.
              </div>
            </div>
          </div>
          <!-- Question 1: End-->
          <!-- Question 2: Start-->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseTwo"
                aria-expanded="false"
                aria-controls="collapseTwo"
              >
                ¿Qué tipo de bailes enseñan?
              </button>
            </h2>
            <div
              id="collapseTwo"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">Principalmente Salsa y Bachata.</div>
            </div>
          </div>
          <!-- Question 2: End-->
          <!-- Question 3: Start-->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseThree"
                aria-expanded="false"
                aria-controls="collapseThree"
              >
                ¿Qué es la fiesta mensual?
              </button>
            </h2>
            <div
              id="collapseThree"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                Un evento donde puedes ir a divertirte y practicar lo que
                aprendiste en tus clases con la comunidad de Salsa Candela.
              </div>
            </div>
          </div>
          <!-- Question 3: End-->
          <!-- Question 4: Start-->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFour"
                aria-expanded="false"
                aria-controls="collapseFour"
              >
                ¿Qué son las clases particulares?
              </button>
            </h2>
            <div
              id="collapseFour"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                Son clases personalizadas para que puedas aprender mas
                rapidamente, en los horarios que funcionen para ti. Pueden ser
                clases 1 a 1 o con tu grupo de amigos.
              </div>
            </div>
          </div>
          <!-- Question 4: End-->
          <!-- Question 5: Start-->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFive"
                aria-expanded="false"
                aria-controls="collapseFive"
              >
                ¿Cómo son las clases?
              </button>
            </h2>
            <div
              id="collapseFive"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                En las clases te enseñamos pasos y secuencias de baile. Los
                practicamos individualmente, en grupo, con y sin musica. Es la
                mejor forma de aprender, divertirte y hacer amigos.
              </div>
            </div>
          </div>
          <!-- Question 5: End-->
          <!-- Question 6: Start-->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseSix"
                aria-expanded="false"
                aria-controls="collapseSix"
              >
                ¿Cuántas personas van a las clases?
              </button>
            </h2>
            <div
              id="collapseSix"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                Los grupos usualmente son de 20-40 personas. Los grupos mas
                avanzados usualmente son mas pequeños.
              </div>
            </div>
          </div>
          <!-- Question 6: End-->
          <!-- Question 7: Start-->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseSeven"
                aria-expanded="false"
                aria-controls="collapseSeven"
              >
                ¿Cuánto tiempo dura cada clase?
              </button>
            </h2>
            <div
              id="collapseSeven"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                Las clases entre semana duran una hora y media, dos veces por
                semana. Las clases en fin de semana son una vez por semana y
                duran dos horas.
              </div>
            </div>
          </div>
          <!-- Question 7: End-->
          <!-- Question 8: Start-->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseEight"
                aria-expanded="false"
                aria-controls="collapseEight"
              >
                ¿Cuánto dura el curso?
              </button>
            </h2>
            <div
              id="collapseEight"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                Los cursos duran cinco semanas. Las clases particulares se
                venden en paquetes de cinco clases.
              </div>
            </div>
          </div>
          <!-- Question 8: End-->
          <!-- Question 9: Start-->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseNine"
                aria-expanded="false"
                aria-controls="collapseNine"
              >
                ¿Qué días y en qué horarios son las clases?
              </button>
            </h2>
            <div
              id="collapseNine"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                Tenemos diferentes horarios y dias en cada sucursal. Visita la
                seccion de ‘Sucursales y Clases’ para ver nuestras clases y
                horarios actualizados.
              </div>
            </div>
          </div>
          <!-- Question 9: End-->
          <!-- Question 10: Start-->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseTen"
                aria-expanded="false"
                aria-controls="collapseTen"
              >
                ¿Donde estan las sucursales de Salsa Candela?
              </button>
            </h2>
            <div
              id="collapseTen"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                Tenemos cinco Sucursales de Salsa Candela.
                <br />Sucursal Xola: Estafetas 99, Postal, Benito Juárez, 03410
                Ciudad de México, CDMX <br />Sucursal Valle: Félix Cuevas 407,
                Col del Valle Sur, Benito Juárez, 03104 Ciudad de México, CDMX
                <br />Sucursal Claveria: Palestina 10, Claveria, Azcapotzalco,
                02080 Ciudad de México, CDMX <br />Sucursal Coapa: Calz Acoxpa
                885, Coapa, Coapa Super 4, Tlalpan, 14390 Ciudad de México, CDMX
                <br />Sucursal Satelite: Green Plaza, Blvd. de la Sta. Cruz 142,
                Sta Cruz Acatlan, 53150 Naucalpan de Juárez, Méx. <br />Para ver
                las clases y horarios de cada sucursal visita la seccion de
                Sucursales y Clases.
              </div>
            </div>
          </div>
          <!-- Question 10: End-->
          <!-- Question 11: Start-->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseEleven"
                aria-expanded="false"
                aria-controls="collapseEleven"
              >
                ¿Dónde es la fiesta mensual?
              </button>
            </h2>
            <div
              id="collapseEleven"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                La fiesta mensual es en nuestra sucursal Xola:Estafetas 99,
                Postal, Benito Juárez, 03410 Ciudad de México, CDMX. El evento
                empieza a las 8pm y termina a las 3am. <br />Para mas
                informacion y comprar boletos puedes visitar la seccion Fiesta.
              </div>
            </div>
          </div>
          <!-- Question 11: End-->
          <!-- Question 12: Start-->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseTwelve"
                aria-expanded="false"
                aria-controls="collapseTwelve"
              >
                ¿Dónde son las clases particulares?
              </button>
            </h2>
            <div
              id="collapseTwelve"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                Las clases particulares pueden ser en alguno de nuestras
                sucursales, en tu domicilio o cualquier otro espacio que tengas
                disponible. Ponte en contacto con nosotros por Whatsapp y con
                gusto te atenderemos.
              </div>
            </div>
          </div>
          <!-- Question 12: End-->
          <!-- Question 13: Start-->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseThirteen"
                aria-expanded="false"
                aria-controls="collapseThirteen"
              >
                ¿Es necesario llevar pareja?
              </button>
            </h2>
            <div
              id="collapseThirteen"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                No es necesario acudir con pareja a ninguna de nuestras clases.
                Las sesiones se dan con rotaciones constantes de pareja, por lo
                que estarás bailando con todas las personas de tu grupo desde la
                primer clase.
              </div>
            </div>
          </div>
          <!-- Question 13: End-->
          <!-- Question 14: Start-->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFourteen"
                aria-expanded="false"
                aria-controls="collacollapseFourteenpseFive"
              >
                ¿Tienen clases para principiantes?
              </button>
            </h2>
            <div
              id="collapseFourteen"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                Si. Nuestras están diseñados para principiantes y te llevarán a
                un muy buen nivel de baile en sólamente 5 semanas.
              </div>
            </div>
          </div>
          <!-- Question 14: End-->
          <!-- Question 15: Start-->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFifteen"
                aria-expanded="false"
                aria-controls="collapseFifteen"
              >
                ¿Tienen clases avanzadas?
              </button>
            </h2>
            <div
              id="collapseFifteen"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                Si, tenemos tambien niveles intermedios y avanzados para que
                puedas seguir mejorando una vez que hayas aprendido los basicos.
              </div>
            </div>
          </div>
          <!-- Question 15: End-->
          <!-- Question 16: Start-->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseSixteen"
                aria-expanded="false"
                aria-controls="collapseSixteen"
              >
                ¿Dan clases a empresas y para eventos?
              </button>
            </h2>
            <div
              id="collapseSixteen"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                Si, tenemos programas de integración de personal y desarrollo
                humano entorno al baile. Tambien hemos organizado talleres
                intensivos para eventos especiales, como bodas o quince años.
                Ponte en contacto con nosotros por Whatsapp y con gusto te
                atenderemos.
              </div>
            </div>
          </div>
          <!-- Question 16: End-->
          <!-- Question 17: Start-->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseSeventeen"
                aria-expanded="false"
                aria-controls="collapseSeventeen"
              >
                ¿Es seguro comprar en línea?
              </button>
            </h2>
            <div
              id="collapseSeventeen"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                Si, puedes comprar en linea tu acceso al curso o evento de
                manera segura. Te recomendamos hacerlo para facilitar tu acceso
                al inicio de curso y aprovechar los precios de preventa.
              </div>
            </div>
          </div>
          <!-- Question 17: End-->
          <!-- Question 18: Start-->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseEighteen"
                aria-expanded="false"
                aria-controls="collapseEighteen"
              >
                ¿Puedo pagar el día del evento?
              </button>
            </h2>
            <div
              id="collapseEighteen"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                Si. Puedes registrarte y pagar el dia de inicio de curso o en la
                taquilla con tarjeta o en efectivo.
              </div>
            </div>
          </div>
          <!-- Question 18: End-->
        </div>
        <br />
        <br />
        <br />
        <br />
        <br />
      </div>
    </div>
  </div>
  <!-- </section> -->
  <!-- FAQ Area End -->

  <!-- Include Footer -->
  <%- include('partials/store_footer') -%>
</section>
