<!-- Include header -->
<%- include('partials/store_header') -%>

<!-- Banner Area Start -->
<section class="banner-area text-start">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="banner-content-wrapper">
          <div class="banner-content">
            <h2>Preguntas frecuentes</h2>
            <div class="banner-breadcrumb">
              <ul>
                <li>
                  <a href="/">Inicio </a>
                  <i class="zmdi zmdi-chevron-right"></i>
                </li>
                <li>Preguntas frecuentes</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Banner Area End -->

<!-- FAQ Area Start -->
<section class="event-area pt-50 pb-30 bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-xl-2 offset-lg-2">
        <div class="section-title text-center">
          <h2>Preguntas Frecuentes</h2>
          <br />
          <div style="text-align: left">
            <p>
              Sabemos que probablemente tengas muchas dudas.Estas son las
              respuestas a las preguntas mas comunes que recibimos.
              <br />
              <br />
              Si tienes dudas adicionales ponte en contacto con nosotros y con
              gusto te atenderemos.
            </p>
          </div>
        </div>
        <div class="accordion" id="accordionExample">
          <!-- Pregunta 1 -->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne"
                aria-expanded="false"
                aria-controls="collapseOne"
              >
                ¿Es necesario llevar pareja?
              </button>
            </h2>
            <div
              id="collapseOne"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                ¡No es necesario acudir con pareja a ninguna de nuestras clases
                o talleres! Las sesiones se dan con rotaciones constantes de
                pareja, por lo que estarás bailando con tod@s l@s chic@s de tu
                grupo desde la primer clase.
              </div>
            </div>
          </div>
          <!-- Pregunta 2 -->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseTwo"
                aria-expanded="false"
                aria-controls="collapseTwo"
              >
                Nunca he bailado, ¿puedo tomar clases con ustedes?"
              </button>
            </h2>
            <div
              id="collapseTwo"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                ¡Tenemos justo lo que estás buscando! Nuestros cursos "Aprende a
                bailar desde cero" están diseñados para principiantes 100% y te
                llevarán a un muy buen nivel de baile en sólamente 5 semanas.
                Revisa la info completa aqui.
              </div>
            </div>
          </div>
          <!-- Pregunta 3 -->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseThree"
                aria-expanded="false"
                aria-controls="collapseThree"
              >
                Ya se bailar: ¿tienen alguna opción para mi?
              </button>
            </h2>
            <div
              id="collapseThree"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                Si, puedes inscribirte a nuestros niveles intermedios o
                avanzados, tanto en clases fijas como en talleres intensivos.
              </div>
            </div>
          </div>
          <!-- Pregunta 4 -->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFour"
                aria-expanded="false"
                aria-controls="collapseFour"
              >
                ¿Dan clases privadas a domicilio?
              </button>
            </h2>
            <div
              id="collapseFour"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                Si. Puedes contratar clases privadas. Son la mejor opción si
                deseas una atención personalizada o si necesitas aprender lo más
                rápidamente posible para algún evento. Puedes agendar al
                5541443745.
              </div>
            </div>
          </div>
          <!-- Pregunta 5 -->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFive"
                aria-expanded="false"
                aria-controls="collapseFive"
              >
                ¿Dan clases a empresas?
              </button>
            </h2>
            <div
              id="collapseFive"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                Si, tenemos varios programas de integración de personal y
                desarrollo humano entorno al baile. Si estás interesad@ en tomar
                nuestras clases en tu lugar de trabajo, puedes solicitar a tu
                departamento de recursos humanos que se ponga en contacto con
                nosotros en clasescandela@gmail.com
              </div>
            </div>
          </div>
        </div>
        <br />
        <br />
        <br />
        <br />
        <br />
      </div>
    </div>
  </div>
</section>
<!-- FAQ Area End -->

<!-- Include Footer -->
<%- include('partials/store_footer') -%>
