<!-- Include header -->
<%- include('partials/store_header') -%>

<!-- Banner Area Start -->
<section class="banner-area text-start">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="banner-content-wrapper">
          <div class="banner-content">
            <h2>Clases</h2>
            <div class="banner-breadcrumb">
              <ul>
                <li>
                  <a href="/">Inicio </a>
                  <i class="zmdi zmdi-chevron-right"></i>
                </li>
                <li>Clases</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Banner Area End -->

<!-- Event Area Start -->
<section class="event-area pt-50 pb-10 bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-xl-2 offset-lg-2">
        <div class="section-title text-center">
          <!-- Salsa Section Start -->
          <!-- ------------------- -->
          <section style="display: flex; flex-direction: column">
            <div id="Clases-Salsa" style="height: 120px"></div>
            <h2>Clases de Salsa</h2>
            <!-- Description Start -->
            <div>
              <div style="text-align: left; margin-top: 50px">
                <span>
                  Aprende a bailar en nuestros talleres de baile.
                  <br /><br />
                  Duran cinco semanas y puedes escoger entre varios horarios:
                  <br /><br />
                </span>
              </div>
              <div
                style="text-align: left; margin-left: 20px; margin-bottom: 20px"
              >
                <ul class="horarios-fiesta" style="list-style-type: disc">
                  <li>Lunes y miércoles: 2 clases por semana.</li>
                  <li>Martes y jueves: 2 clases por semana.<br /></li>
                  <li>Sábados: 1 clase por semana.</li>
                  <li>Domingos: 1 clase por semana.</li>
                </ul>
              </div>
              <div style="text-align: left">
                <span>
                  Las clases entre semana duran una hora y media.
                  <br /><br />
                  Las clases en fines de semana duran dos horas.
                  <br /><br />
                  Cada taller está divididos en varios niveles desde
                  principiante hasta avanzado.
                  <br /><br />
                  El nivel uno es para principiantes y en cada nivel vemos
                  nuevos pasos, figuras y estilo.
                  <br /><br />
                  La inscripción individual al taller tiene un costo de
                  <b>$650</b> pesos preventa o <b>$850</b> pesos al iniciar el
                  taller.<br /><br />
                  La inscripción en pareja al taller tiene un costo de
                  <b>$1,000</b> pesos preventa o <b>$1,200</b> pesos al iniciar
                  el taller.<br /><br />
                </span>
                <br /><b>
                  Nuestro proximo taller inicia el
                  <span style="color: #f69139">10 de Enero 2024.</span></b
                >
                <br /><br /><br />
                <h6>Horarios por sucursal:</h6>
                <br /><br />
              </div>
            </div>
            <!-- Description End -->

            <!-- Horarios Salsa Start -->
            <div style="text-align: left; margin-bottom: 20px">
              <!-- Salsa Xola -->
              <div class="sucursales-div">
                <b><H6 style="color: #e04a25">Salsa Sucursal Xola:</H6></b>
                <br /><br />
                <a href="https://maps.app.goo.gl/ECFAU2rAJXDWHjSs8"
                  ><span>Estafetas 99, Postal, Benito Juárez, CDMX</span>
                </a>
                <br /><br />
                <ul class="horarios-fiesta">
                  <li><b>Lunes y Miércoles:</b> 8:00pm - 9:30pm</li>
                  <li><b>Martes y Jueves:</b> 8:00pm - 9:30pm</li>
                  <li><b>Sábados:</b> 10:00am - 12:00pm</li>
                  <li><b>Domingos:</b> 4:00pm - 6:00pm</li>
                </ul>
                <br />
                <div class="row">
                  <div class="col-12 text-center">
                    <a class="banner-btn" href="#" data-text="Inscribirme"
                      ><span>Inscribirme</span></a
                    >
                  </div>
                </div>
                <br /><br />
                <div class="row">
                  <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3763.5078611231734!2d-99.14293909999999!3d19.390450899999994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1fefe8b9903ad%3A0x4fe4113243e29a80!2sEstafetas%2099%2C%20Postal%2C%20Benito%20Ju%C3%A1rez%2C%2003410%20Ciudad%20de%20M%C3%A9xico%2C%20CDMX!5e0!3m2!1ses-419!2smx!4v1703724175073!5m2!1ses-419!2smx"
                    max-width="600"
                    max-height="450"
                    style="border: 0; border-radius: 20px"
                    allowfullscreen=""
                    loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"
                  ></iframe>
                </div>
              </div>
              <br /><br />
              <!-- Salsa Valle -->
              <div class="sucursales-div">
                <b><span style="color: #e04a25">Salsa Sucursal Valle:</span></b>
                <br /><br />
                <a href="https://maps.app.goo.gl/rceaexAcpfkiMEhu9"
                  ><span
                    >Félix Cuevas 407, Col del Valle, Benito Juárez, CDMX.</span
                  >
                </a>
                <br /><br />
                <ul class="horarios-fiesta">
                  <li><b>Lunes y Miércoles:</b> 8:00pm - 9:30pm</li>
                  <li><b>Martes y Jueves:</b> 8:00pm - 9:30pm</li>
                  <li><b>Sábados:</b> 11:30am - 1:30pm</li>
                  <li><b>Domingos:</b> 11:30pm - 1:30pm</li>
                </ul>
                <br />
                <div class="row">
                  <div class="col-12 text-center">
                    <a class="banner-btn" href="#" data-text="Inscribirme"
                      ><span>Inscribirme</span></a
                    >
                  </div>
                </div>
                <br /><br />
                <div class="row">
                  <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3763.9273605566686!2d-99.1738906!3d19.3722977!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1ff9a07ea6d93%3A0x984de2ae6b224902!2sF%C3%A9lix%20Cuevas%20407%2C%20Col%20del%20Valle%20Sur%2C%20Benito%20Ju%C3%A1rez%2C%2003104%20Ciudad%20de%20M%C3%A9xico%2C%20CDMX!5e0!3m2!1ses-419!2smx!4v1703724558230!5m2!1ses-419!2smx"
                    max-width="600"
                    max-height="450"
                    style="border: 0; border-radius: 20px"
                    allowfullscreen=""
                    loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"
                  ></iframe>
                </div>
              </div>
              <br /><br />
              <!-- Salsa Satelite -->
              <div class="sucursales-div">
                <b
                  ><span style="color: #e04a25"
                    >Salsa Sucursal Satelite:</span
                  ></b
                >
                <br /><br />
                <a href="https://maps.app.goo.gl/qxQ1sBSzoWijhRam7"
                  ><span>
                    Blvd de la Sta Cruz 142, Altavista, Acatlán, Edo Mex.
                  </span>
                </a>
                <br /><br />
                <ul class="horarios-fiesta">
                  <li><b>Lunes y Miércoles:</b> 8:00pm - 9:30pm</li>
                  <li><b>Domingos:</b> 11:30pm - 1:30pm</li>
                </ul>
                <br />
                <div class="row">
                  <div class="col-12 text-center">
                    <a class="banner-btn" href="#" data-text="Inscribirme"
                      ><span>Inscribirme</span></a
                    >
                  </div>
                </div>
                <br /><br />
                <div class="row">
                  <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3761.1765622070075!2d-99.2441764!3d19.4910381!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d2031a6b736345%3A0xbce4ed058e944674!2sBlvd.%20de%20la%20Sta.%20Cruz%20142%2C%20Altavista%2C%2003910%20Acatl%C3%A1n%2C%20M%C3%A9x.!5e0!3m2!1ses-419!2smx!4v1703724745453!5m2!1ses-419!2smx"
                    max-width="600"
                    max-height="450"
                    style="border: 0; border-radius: 20px"
                    allowfullscreen=""
                    loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"
                  ></iframe>
                </div>
              </div>
              <br /><br />
              <!-- Salsa Claveria -->
              <div class="sucursales-div">
                <b
                  ><span style="color: #e04a25"
                    >Salsa Sucursal Claveria:</span
                  ></b
                >
                <br /><br />
                <a href="https://maps.app.goo.gl/d8MddrjfQVpQEa1KA"
                  ><span>Palestina 10, Claveria, Azcapotzalco, CDMX. </span>
                </a>
                <br /><br />
                <ul class="horarios-fiesta">
                  <li><b>Martes y Jueves:</b> 8:00pm - 9:30pm</li>
                </ul>
                <br />
                <div class="row">
                  <div class="col-12 text-center">
                    <a class="banner-btn" href="#" data-text="Inscribirme"
                      ><span>Inscribirme</span></a
                    >
                  </div>
                </div>
                <br /><br />
                <div class="row">
                  <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3761.813823212397!2d-99.1824858!3d19.4635922!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1f89b091bdcd5%3A0xfcafed2927bdd9a7!2sPalestina%2010%2C%20Claveria%2C%20Azcapotzalco%2C%2002080%20Ciudad%20de%20M%C3%A9xico%2C%20CDMX!5e0!3m2!1ses-419!2smx!4v1703724856034!5m2!1ses-419!2smx"
                    max-width="600"
                    max-height="450"
                    style="border: 0; border-radius: 20px"
                    allowfullscreen=""
                    loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"
                  ></iframe>
                </div>
              </div>
              <br /><br />
              <!-- Salsa Coapa -->
              <div class="sucursales-div">
                <b><span style="color: #e04a25">Salsa Sucursal Coapa:</span></b>
                <br /><br />
                <a href="https://maps.app.goo.gl/9Jr8G1LsYNnq3iEL9"
                  ><span>Calz Acoxpa 885, Coapa, Tlalpan, CDMX.</span>
                </a>
                <br /><br />
                <ul class="horarios-fiesta">
                  <li><b>Martes y Jueves:</b> 8:00pm - 9:30pm</li>
                </ul>
                <br />
                <div class="row">
                  <div class="col-12 text-center">
                    <a class="banner-btn" href="#" data-text="Inscribirme"
                      ><span>Inscribirme</span></a
                    >
                  </div>
                </div>
                <br /><br />
                <div class="row">
                  <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3765.822058144884!2d-99.119535!3d19.2901029!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85ce0175b6627251%3A0x72c03df48ec6f443!2sCalz%20Acoxpa%20885%2C%20Coapa%2C%20Coapa%20Super%204%2C%20Tlalpan%2C%2014390%20Ciudad%20de%20M%C3%A9xico%2C%20CDMX!5e0!3m2!1ses-419!2smx!4v1703724927960!5m2!1ses-419!2smx"
                    max-width="600"
                    max-height="450"
                    style="border: 0; border-radius: 20px"
                    allowfullscreen=""
                    loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"
                  ></iframe>
                </div>
              </div>
            </div>
            <!-- Horarios Clases Salsa End -->

            <!-- Video de Salsa -->
            <div class="salsa-video-div">
              <iframe
                class="salsa-video"
                width="560"
                height="315"
                src="https://www.youtube.com/embed/w0ObOhmZPow?si=lool3vuOINa2WzNj&amp;controls=0"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen
              ></iframe>
            </div>
          </section>
          <!-- Salsa Section End -->

          <!-- Bachata Section Start -->
          <!-- --------------------- -->
          <section>
            <div id="Clases-Bachata" style="height: 120px"></div>
            <h2>Clases de Bachata</h2>
            <!-- Description Start -->
            <div>
              <div style="text-align: left; margin-top: 50px">
                <span>
                  Aprende a bailar en nuestros talleres de baile.
                  <br /><br />
                  Duran cinco semanas y puedes escoger entre varios horarios:
                  <br /><br />
                </span>
              </div>
              <div
                style="text-align: left; margin-left: 20px; margin-bottom: 20px"
              >
                <ul class="horarios-fiesta" style="list-style-type: disc">
                  <li>Lunes y miércoles: 2 clases por semana.</li>
                  <li>Martes y jueves: 2 clases por semana.<br /></li>
                  <li>Sábados: 1 clase por semana.</li>
                  <li>Domingos: 1 clase por semana.</li>
                </ul>
              </div>
              <div style="text-align: left">
                <span>
                  Las clases entre semana duran una hora y media.
                  <br /><br />
                  Las clases en fines de semana duran dos horas.
                  <br /><br />
                  Cada taller está divididos en varios niveles desde
                  principiante hasta avanzado.
                  <br /><br />
                  El nivel uno es para principiantes y en cada nivel vemos
                  nuevos pasos, figuras y estilo.
                  <br /><br />
                  La inscripción individual al taller tiene un costo de
                  <b>$650</b> pesos preventa o <b>$850</b> pesos al iniciar el
                  taller.<br /><br />
                  La inscripción en pareja al taller tiene un costo de
                  <b>$1,000</b> pesos preventa o <b>$1,200</b> pesos al iniciar
                  el taller.<br /><br />
                </span>
                <br /><b>
                  Nuestro proximo taller inicia el
                  <span style="color: #f69139">10 de Enero 2024.</span></b
                >
                <br /><br /><br />
                <h6>Horarios por sucursal:</h6>
                <br />
              </div>
            </div>
            <!-- Description End -->

            <!-- Horarios Bachata Start -->
            <div style="text-align: left; margin-bottom: 20px">
              <!-- Horarios Bachata Xola -->
              <div class="sucursales-div">
                <b
                  ><span style="color: #e04a25">Bachata Sucursal Xola:</span></b
                >
                <br /><br />
                <a href="https://maps.app.goo.gl/ECFAU2rAJXDWHjSs8"
                  ><span>Estafetas 99, Postal, Benito Juárez, CDMX</span>
                </a>
                <br /><br />
                <ul class="horarios-fiesta">
                  <li><b>Lunes y Miércoles:</b> 9:30pm - 10:30pm</li>
                  <li><b>Martes y Jueves:</b> 9:30pm - 10:30pm</li>
                  <li><b>Sábados:</b> 12:00am - 1:30pm</li>
                  <li><b>Domingos:</b> 6:00pm - 7:30pm</li>
                </ul>
                <br />
                <div class="row">
                  <div class="col-12 text-center">
                    <a class="banner-btn" href="#" data-text="Inscribirme"
                      ><span>Inscribirme</span></a
                    >
                  </div>
                </div>
              </div>
              <br /><br />
              <!-- Horarios Bachata Valle -->
              <div class="sucursales-div">
                <b
                  ><span style="color: #e04a25"
                    >Bachata Sucursal Valle:</span
                  ></b
                >
                <br /><br />
                <a href="https://maps.app.goo.gl/rceaexAcpfkiMEhu9"
                  ><span
                    >Félix Cuevas 407, Col del Valle, Benito Juárez, CDMX.</span
                  >
                </a>
                <br /><br />
                <ul class="horarios-fiesta">
                  <li><b>Lunes y Miércoles:</b> 9:30pm - 10:30pm</li>
                  <li><b>Sábados:</b> 1:30pm - 3:00pm</li>
                  <li><b>Domingos:</b> 1:30pm - 3:00pm</li>
                </ul>
                <br />
                <div class="row">
                  <div class="col-12 text-center">
                    <a class="banner-btn" href="#" data-text="Inscribirme"
                      ><span>Inscribirme</span></a
                    >
                  </div>
                </div>
              </div>
              <br /><br />
              <!-- Horarios Bachata Satelite -->
              <div class="sucursales-div">
                <b
                  ><span style="color: #e04a25"
                    >Bachata Sucursal Satelite:</span
                  ></b
                >
                <br /><br />
                <a href="https://maps.app.goo.gl/qxQ1sBSzoWijhRam7"
                  ><span>
                    Blvd de la Sta Cruz 142, Altavista, Acatlán, Edo Mex.
                  </span>
                </a>
                <br /><br />
                <ul class="horarios-fiesta">
                  <li><b>Lunes y Miércoles:</b> 9:30pm - 10:30pm</li>
                  <li><b>Domingos:</b> 1:30pm - 3:00pm</li>
                </ul>
                <br />
                <div class="row">
                  <div class="col-12 text-center">
                    <a class="banner-btn" href="#" data-text="Inscribirme"
                      ><span>Inscribirme</span></a
                    >
                  </div>
                </div>
              </div>
              <br /><br />
              <!-- Horarios Bachata Claveria -->
              <div class="sucursales-div">
                <b
                  ><span style="color: #e04a25"
                    >Bachata Sucursal Claveria:</span
                  ></b
                >
                <br /><br />
                <a href="https://maps.app.goo.gl/d8MddrjfQVpQEa1KA"
                  ><span>Palestina 10, Claveria, Azcapotzalco, CDMX. </span>
                </a>
                <br /><br />
                <ul class="horarios-fiesta">
                  <li><b>Martes y Jueves:</b> 9:30pm - 10:30pm</li>
                </ul>
                <br />
                <div class="row">
                  <div class="col-12 text-center">
                    <a class="banner-btn" href="#" data-text="Inscribirme"
                      ><span>Inscribirme</span></a
                    >
                  </div>
                </div>
              </div>
              <br /><br />
              <!-- Horarios Bachata Coapa -->
              <div class="sucursales-div">
                <b
                  ><span style="color: #e04a25"
                    >Bachata Sucursal Coapa:</span
                  ></b
                >
                <br /><br />
                <a href="https://maps.app.goo.gl/9Jr8G1LsYNnq3iEL9"
                  ><span>Calz Acoxpa 885, Coapa, Tlalpan, CDMX.</span>
                </a>
                <br /><br />
                <ul class="horarios-fiesta">
                  <li><b>Martes y Jueves:</b> 9:30pm - 10:30pm</li>
                </ul>
                <br />
                <div class="row">
                  <div class="col-12 text-center">
                    <a class="banner-btn" href="#" data-text="Inscribirme"
                      ><span>Inscribirme</span></a
                    >
                  </div>
                </div>
              </div>
            </div>
            <!-- Horarios Clases Bachata End -->

            <!-- Video Bachata -->
            <div class="bachata-video-div">
              <iframe
                class="bachata-video"
                width="560"
                height="315"
                src="https://www.youtube.com/embed/_bzxrMsW28w?si=dibkdGZJeVYoTXxI&amp;controls=0"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen
              ></iframe>
            </div>
          </section>
          <!-- Bachata Section End -->
          <!-- Clases Particulares Section Start-->
          <section>
            <div id="Clases-Particulares" style="height: 120px"></div>
            <h2>Clases Particulares</h2>
            <div style="text-align: center; margin-top: 50px">
              <span>
                Las clases personales son la forma más rápida de aprender y el
                mejor complemento para tus clases grupales:
              </span>
            </div>
            <div
              style="
                text-align: left;
                max-width: fit-content;
                margin: 0 auto;
                margin-bottom: 20px;
              "
            >
              <ul class="horarios-fiesta" style="list-style-type: disc">
                <br /><br />
                <li>Atención 100% personalizada.</li>
                <li>Horarios a beneficio de tu agenda.<br /></li>
                <li>A domicilio o en nuestro estudio.</li>
              </ul>
            </div>
            <div style="text-align: center; margin-bottom: 50px">
              <span>
                Aprende a tu propio ritmo a la mano de uno de nuestros
                instructores.
                <br />
                <br />
                Tenemos paquetes de 5 clases de 60 minutos por $2,500 pesos.
                <br /><br />
                <b>Mas Información:</b>
                <a href="https://wa.me/5215541443745"
                  ><i class="zmdi zmdi-whatsapp"></i> 55 41 44 37 45</a
                >
              </span>
              <div class="row">
                <div class="col-12 text-center">
                  <a
                    class="banner-btn mt-20"
                    href="#"
                    data-text="Compar Paquete"
                    ><span>Compar Paquete</span></a
                  >
                </div>
              </div>
              <div class="clases-personales-video-div">
                <iframe
                  class="clases-personales-video"
                  width="560"
                  height="315"
                  src="https://www.youtube.com/embed/ywrJ5sg6y6c?si=w7Iu0TTt0CLwgkEc"
                  title="YouTube video player"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                  allowfullscreen
                ></iframe>
              </div>
            </div>
          </section>
          <!-- Clases Particulares Section End-->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Event Area End -->

<!-- Include Footer -->
<%- include('partials/store_footer') -%>
