<!-- Include header -->
<%- include('partials/store_header') -%>

<!-- Background Area Start -->
<div class="slider-area">
  <div class="slider-wrapper">
    <div class="single-slide">
      <video autoplay loop muted>
        <source
          src="https://res.cloudinary.com/dzhlulhtp/video/upload/v1702506826/salsaCandelaIntro_mg4rx9.mp4"
          type="video/mp4"
          playsinline
        />
      </video>
      <div class="slider-content">
        <div class="container">
          <div class="row">
            <div class="col-lg-7">
              <div class="text-content-wrapper">
                <div class="text-content text-start">
                  <div class="blurry">
                    <h5>Bienvenid@ a Salsa Candela</h5>
                    <h1>Aprende a bailar <span>desde cero</span></h1>
                    <p>
                      ¡Aprende a bailar en solamente 5 semanas! No es necesario
                      llevar pareja.
                    </p>
                    <a class="banner-btn" href="#" data-text="Inscribirme"
                      ><span>Inscribirme</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Background Area End -->

<!-- Classes Start -->
<section class="class-area fix bg-gray pb-20 pt-60">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="section-title text-center">
          <h2>Nuestras classes</h2>
          <p>
            <br />¿Tienes dos pies izquierdos? Aprende a bailar en sólo 5
            semanas, ¡garantizado!
            <br />
            <br />¿Ya sabes bailar y quieres aprender más vueltas y figuras en
            pareja? Tambien tenemos opciónes para ti.
            <br />
            <br />Estamos abiertos todo el año y tenemos todos los niveles:
            Desde principianrtes hasta avanzados.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <!-- Salsa Class -->
        <div class="single-class">
          <a href="/clases#Clases-Salsa">
            <div class="single-img">
              <img src="img/class/salsa1.png" alt="Clase de Salsa" />
            </div>
            <div class="single-content">
              <h3><a href="/clases#Clases-Salsa">Clases de Salsa</a></h3>
            </div>
          </a>
        </div>
      </div>
      <!-- Bachata Class -->
      <div class="col-lg-4 col-md-6">
        <div class="single-class">
          <a href="/clases#Clases-Bachata">
            <div class="single-img">
              <img src="img/class/bachata2.png" alt="Clase de Bachata" />
            </div>
            <div class="single-content">
              <h3><a href="/clases#Clases-Bachata">Clases de Bachata</a></h3>
            </div>
          </a>
        </div>
      </div>
      <!-- Personal Classes -->
      <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
        <div class="single-class">
          <a href="/clases#Clases-Particulares">
            <div class="single-img">
              <img src="img/class/salsa3.png" alt="Clases particulares" />
            </div>
            <div class="single-content">
              <h3>
                <a href="/clases#Clases-Particulares"
                  >Clases particulares y eventos</a
                >
              </h3>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center">
        <a class="banner-btn mt-55" href="#" data-text="Ver nuestras sucursales"
          ><span>Ver nuestras sucursales</span></a
        >
      </div>
    </div>
  </div>
</section>
<!-- Class Area End -->

<!-- Event Area Start -->
<section class="event-area pt-50 pb-30 bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-xl-2 offset-lg-2">
        <div class="section-title text-center">
          <h2>fiesta mensual</h2>
          <p>
            Acompáñanos en nuestro evento mensual: Una noche llena de baile y
            convivencia.
            <br />Toda la comunidad Candela estará presente ese día
          </p>
        </div>
        <div class="event-wrapper">
          <div class="event-content text-center">
            <h3>Noche Sensual</h3>
            <p>Salsa - Timba - Bachata</p>
            <p>$100 pesos preventa, $150 pesos en taquilla.</p>
            <h4>Viernes 24 de Noviembre 2023</h4>
            <h5>9PM - 3AM</h5>
            <br />
            <img
              src="img/party/noche_sensual_nov_23.webp"
              alt="Party Invitation"
            />
            <a href="/fiesta"><h4 class="pt-30">Mas Informacion</h4></a>
          </div>
          <div class="col-12 text-center">
            <a class="banner-btn mt-20" href="#" data-text="Compra tus boletos"
              ><span>Compra tus boletos</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Event Area End -->

<!-- Pricing Area Start -->
<div class="pricing-area pt-95 pb-120 bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-xl-2 offset-lg-2">
        <div class="section-title text-center">
          <h2>Precios</h2>
          <p>Paga en línea dando click en los siguientes botones</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="single-table text-center">
          <div class="table-head">
            <h2>Individual</h2>
            <h1>$650<span>pesos</span></h1>
          </div>
          <div class="table-body">
            <ul>
              <li>Taller de cinco semanas</li>
              <li>Salsa, Bachata</li>
              <li>Cualquier sucursal</li>
              <li>Cualquier nivel</li>
              <li></li>
            </ul>
            <form action="/checkout" method="post">
              <button type="submit">Comprar</button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-table text-center">
          <div class="table-head">
            <h2>Pareja</h2>
            <h1>$1,000<span>pesos</span></h1>
          </div>
          <div class="table-body">
            <ul>
              <li>Taller de cinco semanas</li>
              <li>Salsa o Bachata</li>
              <li>Cualquier sucursal</li>
              <li>Cualquier nivel</li>
              <li></li>
            </ul>
            <form action="/checkout" method="post">
              <button type="submit">Comprar</button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mt-5 mt-lg-0">
        <div class="single-table text-center">
          <div class="table-head">
            <h2>Clases Particulares</h2>
            <h1>$2,500<span>pesos</span></h1>
          </div>
          <div class="table-body">
            <ul>
              <li>Horarios flexibles</li>
              <li>Atencion personalizada</li>
              <li>5 clases de 60 minutos</li>
              <li>En tu domicilio o en estudio</li>
            </ul>
            <form action="/checkout" method="post">
              <button type="submit">Comprar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Pricing Area End -->

<!-- Include Footer -->
<%- include('partials/store_footer') -%>
