<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="/js/success.js" defer></script>
  </head>
  <body>
    <h1>Hello world</h1>
    <ul>
      <li>QR Code:</li>
      <li>ID:</li>
      <li>Name: <span id="name"></span></li>
      <li>Phone: <span id="phone"></span></li>
      <li>Email: <span id="email"></span></li>
      <li>Payment Confirmation: <span id="paymentId"></span></li>
    </ul>
  </body>
</html>
